In [1]:
import os
import pandas as pd
import MatchAnalyzer as ma

### 1.1 데이터 경로 설정

In [2]:
cur_path = os.getcwd()
par_path = os.path.dirname(cur_path)
main_path = os.path.dirname(par_path)

In [3]:
source_path = os.path.join(main_path, '1. Data')
prm_source_path = os.path.join(source_path, '1. Premier League')

### 1.2 데이터 불러오기

In [4]:
season_stat = {}
seasons = (season for season in os.listdir(prm_source_path) if season!='info')
for season in seasons:
    if season not in season_stat:
        season_stat[season] = {}    
    season_stat_path = os.path.join(prm_source_path, season)
    for stat in os.listdir(season_stat_path):
        stat_nm = os.path.splitext(stat)[0]
        file_path = os.path.join(season_stat_path, stat)
        season_stat[season][stat_nm] = file_path

In [6]:
league = 'Premier League'
for season, datas in season_stat.items():
    print(season)
    match_data = pd.read_csv(datas['match'])
    match_data.dropna(subset=['HomeTeam', 'AwayTeam'], how='any', axis=0, inplace=True) # 팀이름 결측치 행 제거
    
    dt_season_position = ma.season_table(league, season, match_data)
    dt_season_match = ma.season_match_info(league, season, match_data)
    break

14-15

In [7]:
dt_season_position

,league,season,position,team,point,won,drawn,lost,gd,gf,ga,yellow,red
0,Premier League,14-15,1,Chelsea,87,26,9,3,41,73,32,77,4
1,Premier League,14-15,2,Man City,79,24,7,7,45,83,38,77,2
2,Premier League,14-15,3,Arsenal,75,22,9,7,35,71,36,68,2
3,Premier League,14-15,4,Man United,70,20,10,8,25,62,37,64,5
4,Premier League,14-15,5,Tottenham,64,19,7,12,5,58,53,79,4
5,Premier League,14-15,6,Liverpool,62,18,8,12,4,52,48,66,3
6,Premier League,14-15,7,Southampton,60,18,6,14,21,54,33,57,3
7,Premier League,14-15,8,Swansea,56,16,8,14,-3,46,49,48,5
8,Premier League,14-15,9,Stoke,54,15,9,14,3,48,45,82,1
9,Premier League,14-15,10,Crystal Palace,48,13,9,16,-4,47,51,63,4
10,Premier League,14-15,11,Everton,47,12,11,15,-2,48,50,66,2
11,Premier League,14-15,12,West Ham,47,12,11,15,-3,44,47,64,2
12,Premier League,14-15,13,West Brom,44,11,11,16,-13,38,51,64,3
13,Premier League,14-15,14,Leicester,41,11,8,19,-9,46,55,49,4
14,Premier League,14-15,15,Newcastle,39,10,9,19,-23,40,63,66,7
15,Premier League,14-15,16,Sunderland,38,7,17,14,-22,31,53,94,2
16,Premier League,14-15,17,Aston Villa,38,10,8,20,-26,31,57,70,7
17,Premier League,14-15,18,Hull,35,8,11,19,-18,33,51,71,6
18,Premier League,14-15,19,Burnley,33,7,12,19,-25,28,53,64,2
19,Premier League,14-15,20,QPR,30,8,6,24,-31,42,73,75,3

In [8]:
dt_season_match

,league,season,team,round,date,referee,opp,h_a,last5,result,...,shot,shot_on_target,corner,foul,yellow,red,acc_point,acc_gd,acc_gf,position
0,Premier League,14-15,Arsenal,1,2014-08-16,J Moss,Crystal Palace,H,,W,...,14,6,9,13,2,0,3,1,2,3
1,Premier League,14-15,Arsenal,2,2014-08-23,K Friend,Everton,A,W,D,...,13,3,3,18,4,0,4,1,4,5
2,Premier League,14-15,Arsenal,3,2014-08-31,A Taylor,Leicester,A,WD,D,...,24,6,10,6,1,0,5,1,5,7
3,Premier League,14-15,Arsenal,4,2014-09-13,M Clattenburg,Man City,H,WDD,D,...,15,6,0,11,3,0,6,1,7,7
4,Premier League,14-15,Arsenal,5,2014-09-20,M Jones,Aston Villa,A,WDDD,W,...,9,3,5,9,3,0,9,4,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,Premier League,14-15,Man City,34,2015-04-25,M Dean,Aston Villa,H,LWLLW,W,...,11,4,7,13,1,0,67,34,70,3
756,Premier League,14-15,Man City,35,2015-05-03,A Marriner,Tottenham,A,WLLWW,W,...,15,4,7,11,4,0,70,35,71,2
757,Premier League,14-15,Man City,36,2015-05-10,M Dean,QPR,H,LLWWW,W,...,23,11,7,12,0,0,73,41,77,2
758,Premier League,14-15,Man City,37,2015-05-17,M Clattenburg,Swansea,A,LWWWW,W,...,22,11,7,8,3,0,76,43,81,2
759,Premier League,14-15,Man City,38,2015-05-24,C Foy,Southampton,H,WWWWW,W,...,15,6,8,13,1,0,79,45,83,2