# 1. 필요 모듈 로드

In [1]:
import os
import pandas as pd
from datetime import datetime, timedelta
from itertools import accumulate

In [2]:
pd.options.display.max_columns=300

### 1.1 데이터 경로 설정

In [3]:
cur_path = os.getcwd()
par_path = os.path.dirname(cur_path)
main_path = os.path.dirname(par_path)

In [4]:
source_path = os.path.join(main_path, '1. Data')
prm_source_path = os.path.join(source_path, '1. Premier League')

### 1.2 데이터 불러오기

In [5]:
season_stat = {}
seasons = (season for season in os.listdir(prm_source_path) if season!='info')
for season in seasons:
    if season not in season_stat:
        season_stat[season] = {}    
    season_stat_path = os.path.join(prm_source_path, season)
    for stat in os.listdir(season_stat_path):
        stat_nm = os.path.splitext(stat)[0]
        file_path = os.path.join(season_stat_path, stat)
        season_stat[season][stat_nm] = file_path

In [6]:
pd.read_csv(season_stat['14-15']['match'])

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,Bb1X2,BbMxH,BbAvH,BbMxD,BbAvD,BbMxA,BbAvA,BbOU,BbMx>2.5,BbAv>2.5,BbMx<2.5,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,J Moss,14.0,4.0,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0,1.25,6.50,15.00,1.25,5.50,12.00,1.30,5.0,9.0,1.25,6.00,13.00,1.26,6.45,14.01,1.25,5.5,12.0,1.25,5.75,12.00,1.25,6.25,10.50,50.0,1.30,1.25,6.70,5.96,16.00,12.43,48.0,1.77,1.72,2.26,2.10,24.0,-1.50,1.81,1.78,2.20,2.10,1.29,5.90,12.75
1,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,M Jones,11.0,13.0,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0,3.20,3.40,2.40,2.90,3.20,2.40,2.90,3.3,2.3,3.25,3.40,2.25,3.14,3.38,2.46,3.10,3.1,2.4,3.00,3.30,2.38,3.20,3.40,2.40,50.0,3.30,3.06,3.45,3.32,2.42,2.36,48.0,2.10,2.00,1.90,1.80,22.0,0.25,1.88,1.85,2.10,2.02,3.11,3.40,2.47
2,E0,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,M Dean,14.0,5.0,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0,1.36,5.00,11.00,1.40,4.75,9.00,1.33,5.0,8.0,1.36,5.00,10.00,1.37,5.10,10.60,1.36,4.5,9.0,1.36,5.00,8.00,1.36,5.20,10.00,50.0,1.38,1.34,5.50,4.96,11.03,9.32,48.0,1.77,1.71,2.30,2.13,25.0,-1.50,2.18,2.08,1.87,1.79,1.45,4.81,8.25
3,E0,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,C Pawson,19.0,11.0,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0,2.50,3.30,3.10,2.50,3.10,2.85,2.30,3.3,2.9,2.40,3.25,3.10,2.48,3.26,3.22,2.60,3.0,2.9,2.50,3.25,2.88,2.55,3.20,3.12,50.0,2.60,2.47,3.40,3.18,3.20,3.02,46.0,2.52,2.36,1.65,1.58,24.0,0.00,1.80,1.73,2.25,2.14,2.31,3.24,3.59
4,E0,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,A Taylor,12.0,7.0,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0,1.95,3.50,4.50,1.95,3.30,3.90,2.00,3.3,3.6,1.95,3.40,4.20,1.95,3.47,4.55,1.95,3.2,4.2,1.95,3.40,4.00,1.95,3.30,4.75,50.0,2.00,1.92,3.50,3.38,4.80,4.27,44.0,2.42,2.31,1.67,1.60,23.0,-0.50,1.95,1.91,2.02,1.96,2.01,3.34,4.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
376,E0,24/05/15,Leicester,QPR,5.0,1.0,H,2.0,0.0,H,M Oliver,22.0,18.0,7.0,2.0,7.0,6.0,5.0,6.0,0.0,0.0,0.0,0.0,1.60,4.33,6.00,1.60,3.80,5.50,1.60,3.9,5.0,1.62,4.00,5.50,1.57,4.57,6.02,1.62,3.8,5.5,NaN,NaN,NaN,1.57,4.50,6.00,43.0,1.65,1.56,4.57,4.21,6.20,5.71,34.0,1.59,1.55,2.65,2.41,28.0,-1.00,1.98,1.93,1.98,1.93,1.53,4.94,6.13
377,E0,24/05/15,Man City,Southampton,2.0,0.0,H,1.0,0.0,H,C Foy,15.0,13.0,6.0,4.0,13.0,8.0,8.0,4.0,1.0,1.0,0.0,0.0,1.57,4.50,6.00,1.55,4.00,5.75,1.50,4.0,6.1,1.57,4.20,6.00,1.60,4.62,5.59,1.57,3.8,6.0,NaN,NaN,NaN,1.57,4.60,5.75,43.0,1.60,1.56,4.75,4.27,6.30,5.61,37.0,1.50,1.45,2.83,2.66,28.0,-1.00,2.00,1.94,2.03,1.93,1.60,4.35,6.00
378,E0,24/05/15,Newcastle,West Ham,2.0,0.0,H,0.0,0.0,D,M Atkinson,17.0,4.0,4.0,1.0,9.0,9.0,2.0,3.0,2.0,1.0,0.0,0.0,1.83,4.00,4.33,1.80,3.90,4.40,1.65,3.8,4.6,1.80,3.75,4.50,1.79,4.00,4.69,1.80,3.5,4.5,NaN,NaN,NaN,1.80,4.00,4.60,43.0,1.83,1.77,4.20,3.84,4.70,4.42,38.0,1.70,1.64,2.40,2.25,25.0,-0.50,1.82,1.78,2.20,2.10,1.76,4.01,4.98
379,E0,24/05/15,Stoke,Liverpool,6.0,1.0,H,5.0,0.0,H,A Taylor,15.0,13.0,9.0,4.0,13.0,4.0,3.0,9.0,4.0,2.0,0.0,0.0,3.50,3.60,2.15,3.25,3.40,2.15,3.30,3.3,2.1,3.30,3.50,2.20,3.51,3.70,2.15,3.30,3.3,2.2,NaN,NaN,NaN,3.50,3.60,2.15,42.0,3.64,3.42,3.71,3.48,2.20,2.12,41.0,1.87,1.81,2.14,1.99,25.0,0.25,2.07,2.02,1.88,1.85,3.56,3.60,2.17
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pd.read_csv(season_stat['14-15']['goals'])

   Rank             Player         Club Nationality  Stat
0     1      Sergio Aguero     Man City   Argentina    26
1     2         Harry Kane    Tottenham     England    21
2     3        Diego Costa      Chelsea       Spain    20
3     4     Charlie Austin          QPR     England    18
4     5     Alexis Sanchez      Arsenal       Chile    16
5     6     Saido Berahino    West Brom     Burundi    14
6     6     Olivier Giroud      Arsenal      France    14
7     6        Eden Hazard      Chelsea     Belgium    14
8     9  Christian Benteke  Aston Villa     Belgium    13
9    10     Graziano Pelle  Southampton       Italy    12

In [8]:
pd.read_csv(season_stat['14-15']['assists'])

   Rank            Player        Club       Nationality  Stat
0     1     Cesc Fabregas     Chelsea             Spain    18
1     2     Santi Cazorla     Arsenal             Spain    11
2     3       Chris Brunt   West Brom  Northern Ireland    10
3     3    Angel Di Maria  Man United         Argentina    10
4     3  Gylfi Sigurdsson     Swansea           Iceland    10
5     6   Leighton Baines     Everton           England     9
6     6       Eden Hazard     Chelsea           Belgium     9
7     6  Jordan Henderson   Liverpool           England     9
8     9     Sergio Aguero    Man City         Argentina     8
9     9             Oscar     Chelsea            Brazil     8

# 2. 데이터 가공

In [9]:
# 14/15 시즌 데이터
match_1415 = pd.read_csv(season_stat['14-15']['match'])
match_1415.dropna(subset=['HomeTeam', 'AwayTeam'], how='any', axis=0, inplace=True) # 팀이름 결측치 행 제거

In [10]:
match_1415.iloc[:10, :23]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,16/08/14,Arsenal,Crystal Palace,2.0,1.0,H,1.0,1.0,D,J Moss,14.0,4.0,6.0,2.0,13.0,19.0,9.0,3.0,2.0,2.0,0.0,1.0
1,E0,16/08/14,Leicester,Everton,2.0,2.0,D,1.0,2.0,A,M Jones,11.0,13.0,3.0,3.0,16.0,10.0,3.0,6.0,1.0,1.0,0.0,0.0
2,E0,16/08/14,Man United,Swansea,1.0,2.0,A,0.0,1.0,A,M Dean,14.0,5.0,5.0,4.0,14.0,20.0,4.0,0.0,2.0,4.0,0.0,0.0
3,E0,16/08/14,QPR,Hull,0.0,1.0,A,0.0,0.0,D,C Pawson,19.0,11.0,6.0,4.0,10.0,10.0,8.0,9.0,1.0,2.0,0.0,0.0
4,E0,16/08/14,Stoke,Aston Villa,0.0,1.0,A,0.0,0.0,D,A Taylor,12.0,7.0,2.0,2.0,14.0,9.0,2.0,8.0,0.0,3.0,0.0,0.0
5,E0,16/08/14,West Brom,Sunderland,2.0,2.0,D,1.0,1.0,D,N Swarbrick,10.0,7.0,5.0,2.0,18.0,9.0,6.0,3.0,3.0,1.0,0.0,0.0
6,E0,16/08/14,West Ham,Tottenham,0.0,1.0,A,0.0,0.0,D,C Foy,18.0,10.0,4.0,4.0,12.0,10.0,8.0,5.0,1.0,0.0,1.0,1.0
7,E0,17/08/14,Liverpool,Southampton,2.0,1.0,H,1.0,0.0,H,M Clattenburg,12.0,12.0,5.0,6.0,8.0,11.0,2.0,6.0,1.0,2.0,0.0,0.0
8,E0,17/08/14,Newcastle,Man City,0.0,2.0,A,0.0,1.0,A,M Atkinson,12.0,13.0,0.0,5.0,8.0,11.0,3.0,3.0,1.0,5.0,0.0,0.0
9,E0,18/08/14,Burnley,Chelsea,1.0,3.0,A,1.0,3.0,A,M Oliver,9.0,11.0,2.0,3.0,6.0,7.0,4.0,3.0,1.0,1.0,0.0,0.0

In [11]:
match_1415.iloc[:10, :23].columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

### 2.1 시즌 테이블 생성

In [12]:
def home_team_stat(home_rst):
    """선택한 팀의 홈 성적 추출

    Args:
        home_rst (DataFrame): 홈 경기 매치 결과

    Returns:
        Tuple: 승,무,패,골득실,득점,실점,경고,퇴장
    """
    wdl = home_rst['FTR']
    w, d, l = len(wdl[wdl=='H']), len(wdl[wdl=='D']), len(wdl[wdl=='A'])
    gf = int(home_rst['FTHG'].sum())
    ga = int(home_rst['FTAG'].sum())
    y = int(home_rst['HY'].sum())
    r = int(home_rst['HR'].sum())
    return w,d,l,gf,ga,y,r

def away_team_stat(away_rst):
    """선택한 팀의 원정 성적 추출

    Args:
        away_rst (DataTable): 원정 결기 매치 결과

    Returns:
        Tuple: 승,무,패,골득실,득점,실점,경고,퇴장
    """
    wdl = away_rst['FTR']
    w, d, l = len(wdl[wdl=='A']), len(wdl[wdl=='D']), len(wdl[wdl=='H'])
    ga = int(away_rst['FTHG'].sum())
    gf = int(away_rst['FTAG'].sum())
    y = int(away_rst['AY'].sum())
    r = int(away_rst['AR'].sum())
    return w,d,l,gf,ga,y,r

In [13]:
def season_table(match_data):
    """선택한 시즌의 테이블

    Args:
        match_data (DataTable): 시즌 매치 결과

    Returns:
        DataTable: 시즌 순위표
    """
    ls_table = []
    teams = list(match_data['HomeTeam'].unique())
    for team in teams:
        h_w,h_d,h_l,h_gf,h_ga,h_y,h_r = home_team_stat(match_data[match_data['HomeTeam']==team])
        a_w,a_d,a_l,a_gf,a_ga,a_y,a_r = away_team_stat(match_data[match_data['AwayTeam']==team])
        
        w = h_w + a_w
        d = h_d + a_d
        l = h_l + a_l
        p = 3*w + d
        gf = h_gf + a_gf
        ga = h_ga + a_ga
        gd = gf - ga
        y = h_y + a_y
        r = h_r + a_r
        ls_table.append((team, p, w, d, l, gd, gf, ga, y, r))
        # print(team)
        # print(f'승점 : {p} ({w}승 {d}무 {l}패)')
        # print(f'골득실 : {ga}, 득점 : {g}, 실점 : {ga}')
        # print(f'경고 : {y}, 퇴장 : {r}')

    col_table = ['team', 'point', 'won', 'drawn', 'lost', 'gd', 'gf', 'ga', 'yellow', 'red']
    table = pd.DataFrame(ls_table, columns=col_table)
    # 승점 > 골득실 > 득점 > 승자승 > 원정 다득점 > 플레이오프
    table.sort_values(['point', 'gd', 'gf'], ascending=[False, False, False], inplace=True)
    table.insert(0, 'position', [i+1 for i in range(table.shape[0])])
    table.reset_index(drop=True, inplace=True)
    return table

In [14]:
table_1415 = season_table(match_1415)

In [15]:
table_1415

    position            team  point  won  drawn  lost  gd  gf  ga  yellow  red
0          1         Chelsea     87   26      9     3  41  73  32      77    4
1          2        Man City     79   24      7     7  45  83  38      77    2
2          3         Arsenal     75   22      9     7  35  71  36      68    2
3          4      Man United     70   20     10     8  25  62  37      64    5
4          5       Tottenham     64   19      7    12   5  58  53      79    4
5          6       Liverpool     62   18      8    12   4  52  48      66    3
6          7     Southampton     60   18      6    14  21  54  33      57    3
7          8         Swansea     56   16      8    14  -3  46  49      48    5
8          9           Stoke     54   15      9    14   3  48  45      82    1
9         10  Crystal Palace     48   13      9    16  -4  47  51      63    4
10        11         Everton     47   12     11    15  -2  48  50      66    2
11        12        West Ham     47   12     11    15  -3  44  47      64    2
12        13       West Brom     44   11     11    16 -13  38  51      64    3
13        14       Leicester     41   11      8    19  -9  46  55      49    4
14        15       Newcastle     39   10      9    19 -23  40  63      66    7
15        16      Sunderland     38    7     17    14 -22  31  53      94    2
16        17     Aston Villa     38   10      8    20 -26  31  57      70    7
17        18            Hull     35    8     11    19 -18  33  51      71    6
18        19         Burnley     33    7     12    19 -25  28  53      64    2
19        20             QPR     30    8      6    24 -31  42  73      75    3

### 2.2 팀별 경기 결과 테이블 생성

In [16]:
def season_match_info(match_data):
    """선택한 시즌의 경기 결과

    Args:
        match_data (DataTable): 시즌 매치 결과
        
    Returns:
        DataTable: 시즌 경기 상세 결과
    """
    teams = list(match_data['HomeTeam'].unique())
    ls_rst = []
    for team in teams:
        h_rst = match_data[match_data['HomeTeam']==team][['Date', 'FTR', 'FTHG', 'FTAG', 'AwayTeam', 'HTHG', 'HTAG', 'HS', 'HST', 'HF', 'HY', 'HR', 'HC', 'Referee']]
        h_rst.rename(columns={'Date':'date', 'FTHG':'gf', 'FTAG':'ga', 'AwayTeam':'opp', 'HTHG':'fhgf', 'HTAG':'fhga', 'HC':'corner',
                            'HS':'shot', 'HST':'shot_on_target', 'HF':'foul', 'HY':'yellow', 'HR':'red', 'Referee':'referee'}, inplace=True)
        h_rst = h_rst.astype({'gf':'int', 'ga':'int', 'fhgf':'int', 'fhga':'int', 'shot':'int', 'shot_on_target':'int', 'foul':'int', 'yellow':'int', 'red':'int', 'corner':'int'})
        h_rst['point'] = h_rst['FTR'].apply(lambda x: 3 if x=='H' else (1 if x=='D' else 0))
        h_rst['gd'] = h_rst['gf'] - h_rst['ga']
        h_rst['shgf'] = h_rst['gf'] - h_rst['fhgf']
        h_rst['shga'] = h_rst['ga'] - h_rst['fhga']
        h_rst['h_a'] = 'H'
        
        a_rst = match_data[match_data['AwayTeam']==team][['Date', 'FTR', 'FTHG', 'FTAG', 'HomeTeam', 'HTHG', 'HTAG', 'AS', 'AST', 'AF', 'AY', 'AR', 'AC', 'Referee']]
        a_rst.rename(columns={'Date':'date', 'FTHG':'ga', 'FTAG':'gf', 'HomeTeam':'opp', 'HTHG':'fhga', 'HTAG':'fhgf', 'AC':'corner',
                            'AS':'shot', 'AST':'shot_on_target', 'AF':'foul', 'AY':'yellow', 'AR':'red', 'Referee':'referee'}, inplace=True)
        a_rst = a_rst.astype({'gf':'int', 'ga':'int', 'fhgf':'int', 'fhga':'int', 'shot':'int', 'shot_on_target':'int', 'foul':'int', 'yellow':'int', 'red':'int', 'corner':'int'})
        a_rst['point'] = a_rst['FTR'].apply(lambda x: 3 if x=='A' else (1 if x=='D' else 0))
        a_rst['gd'] = a_rst['gf'] - a_rst['ga']
        a_rst['shgf'] = a_rst['gf'] - a_rst['fhgf']
        a_rst['shga'] = a_rst['ga'] - a_rst['fhga']
        a_rst['h_a'] = 'A'
        
        rst = pd.concat([h_rst, a_rst])    
        rst['season'] = '14/15'
        rst['team'] = team
        rst['date'] = rst['date'].apply(lambda x: datetime.strptime(x, '%d/%m/%y'))
        rst.sort_values('date', inplace=True)
        rst['acc_point'] = list(accumulate(rst['point']))
        rst['acc_gd'] = list(accumulate(rst['gd']))
        rst['acc_gf'] = list(accumulate(rst['gf']))
        rst['round'] = list(range(1, len(rst)+1))
        rst['result'] = rst['point'].apply(lambda p: 'W' if p==3 else ('D' if p==1 else 'L'))
        results = list(rst['result'])
        last5 = [''.join(results[i-5:i]) if i>5 else ''.join(results[:i]) for i in range(len(results))]
        rst['last5'] = last5
        rst.reset_index(drop=True, inplace=True)
        
        rst = rst[['season', 'team', 'round', 'date', 'referee', 'opp', 'h_a', 'last5', 'result', 'point', 
                'gd', 'gf', 'ga', 'fhgf', 'fhga', 'shgf', 'shga','shot', 'shot_on_target', 'corner', 'foul', 
                'yellow', 'red', 'acc_point', 'acc_gd', 'acc_gf']]
        ls_rst.append(rst)
    
    match_info = pd.concat(ls_rst, axis=0)
    match_info.reset_index(drop=True, inplace=True)

    position_by_round = [(id,pos+1) 
                        for round in range(1, 39) 
                        for pos, id in enumerate(match_info[match_info['round']==round].sort_values(['acc_point', 'acc_gd', 'acc_gf'], ascending=[False, False, False]).index)]
    position_by_round = sorted(position_by_round, key=lambda x:(x[0]))
    position_by_round = [pos for r,pos in position_by_round]

    match_info['position'] = position_by_round
    
    return match_info

In [17]:
match_info_1415 = season_match_info(match_1415)
match_info_1415

,season,team,round,date,referee,opp,h_a,last5,result,point,gd,gf,ga,fhgf,fhga,shgf,shga,shot,shot_on_target,corner,foul,yellow,red,acc_point,acc_gd,acc_gf,position
0,14/15,Arsenal,1,2014-08-16,J Moss,Crystal Palace,H,,W,3,1,2,1,1,1,1,0,14,6,9,13,2,0,3,1,2,3
1,14/15,Arsenal,2,2014-08-23,K Friend,Everton,A,W,D,1,0,2,2,0,2,2,0,13,3,3,18,4,0,4,1,4,5
2,14/15,Arsenal,3,2014-08-31,A Taylor,Leicester,A,WD,D,1,0,1,1,1,1,0,0,24,6,10,6,1,0,5,1,5,7
3,14/15,Arsenal,4,2014-09-13,M Clattenburg,Man City,H,WDD,D,1,0,2,2,0,1,2,1,15,6,0,11,3,0,6,1,7,7
4,14/15,Arsenal,5,2014-09-20,M Jones,Aston Villa,A,WDDD,W,3,3,3,0,3,0,0,0,9,3,5,9,3,0,9,4,10,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,14/15,Man City,34,2015-04-25,M Dean,Aston Villa,H,LWLLW,W,3,1,3,2,1,0,2,2,11,4,7,13,1,0,67,34,70,3
756,14/15,Man City,35,2015-05-03,A Marriner,Tottenham,A,WLLWW,W,3,1,1,0,1,0,0,0,15,4,7,11,4,0,70,35,71,2
757,14/15,Man City,36,2015-05-10,M Dean,QPR,H,LLWWW,W,3,6,6,0,2,0,4,0,23,11,7,12,0,0,73,41,77,2
758,14/15,Man City,37,2015-05-17,M Clattenburg,Swansea,A,LWWWW,W,3,2,4,2,2,1,2,1,22,11,7,8,3,0,76,43,81,2
759,14/15,Man City,38,2015-05-24,C Foy,Southampton,H,WWWWW,W,3,2,2,0,1,0,1,0,15,6,8,13,1,0,79,45,83,2

In [18]:
match_info_1415[match_info_1415['team']=='Chelsea'][:10]

,season,team,round,date,referee,opp,h_a,last5,result,point,gd,gf,ga,fhgf,fhga,shgf,shga,shot,shot_on_target,corner,foul,yellow,red,acc_point,acc_gd,acc_gf,position
418,14/15,Chelsea,1,2014-08-18,M Oliver,Burnley,A,,W,3,2,3,1,3,1,0,0,11,3,3,7,1,0,3,2,3,1
419,14/15,Chelsea,2,2014-08-23,L Mason,Leicester,H,W,W,3,2,2,0,0,0,2,0,27,10,8,11,0,0,6,4,5,2
420,14/15,Chelsea,3,2014-08-30,J Moss,Everton,A,WW,W,3,3,6,3,2,1,4,2,12,8,2,16,3,0,9,7,11,1
421,14/15,Chelsea,4,2014-09-13,K Friend,Swansea,H,WWW,W,3,2,4,2,1,1,3,1,29,9,7,12,0,0,12,9,15,1
422,14/15,Chelsea,5,2014-09-21,M Dean,Man City,A,WWWW,D,1,0,1,1,0,0,1,1,6,2,2,12,4,0,13,9,16,1
423,14/15,Chelsea,6,2014-09-27,P Dowd,Aston Villa,H,WWWWD,W,3,3,3,0,1,0,2,0,17,8,9,11,2,0,16,12,19,1
424,14/15,Chelsea,7,2014-10-05,M Atkinson,Arsenal,H,WWWDW,W,3,2,2,0,1,0,1,0,5,3,2,14,4,0,19,14,21,1
425,14/15,Chelsea,8,2014-10-18,C Pawson,Crystal Palace,A,WWDWW,W,3,1,2,1,1,0,1,1,14,5,2,7,1,1,22,15,23,1
426,14/15,Chelsea,9,2014-10-26,P Dowd,Man United,A,WDWWW,D,1,0,1,1,0,0,1,1,9,4,7,14,5,1,23,15,24,1
427,14/15,Chelsea,10,2014-11-01,M Jones,QPR,H,DWWWD,W,3,1,2,1,1,0,1,1,18,8,13,8,0,0,26,16,26,1